<h1>Hello <%=user_signed_in? ? current_user.name.split(" ").map(&:capitalize).join(' ') : "Folks"%></h1>
<ul class="nav nav-tabs">

  <%if !user_signed_in?%>
    <li role="presentation"><%= link_to('Login', new_user_session_path) %></li>
  <%else%>
    <li role="presentation"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  <%end%>
</ul>
